@using Microsoft.EntityFrameworkCore

@using Shopping_List.Models;
@inject Shopping_List.Data.ShoppingContext context

@page "/"
<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<AuthorizeView>
    <Authorized>

        <h1>Shopping List</h1>

        <h3>Enter your items that you need purchased</h3>

        <!-- Bind the input to item.Name -->
        <input type="text" @bind="item.Name" />

        <button class="btn btn-primary" @onclick="AddItem">Add Item</button>

        @foreach (var listItem in items)
        {
            <p>@listItem.Name <span @onclick="() => DeleteItem(listItem.ID)">X</span></p>
        }

    </Authorized>
</AuthorizeView>



@code {
    List<ShoppingItem> items = new List<ShoppingItem>();

    private ShoppingItem item { get; set; } = new ShoppingItem();

    protected override async Task OnInitializedAsync()
    {
        await LoadShoppingListAsync();
    }

    private async Task LoadShoppingListAsync()
    {
        items = await context.Shopping_List.ToListAsync();
    }

    public async Task AddItem()
    {
        context.Shopping_List.Add(item);
        await context.SaveChangesAsync();

        // Refresh the shopping list
        await LoadShoppingListAsync();

        // Reset the item object for the next input
        item = new ShoppingItem();
    }

    private async Task DeleteItem(int itemId)
    {
        // Find the item to delete based on its ID
        var itemToDelete = items.FirstOrDefault(item => item.ID == itemId);

        // Remove the item from the list and the database
        if (itemToDelete != null)
        {
            items.Remove(itemToDelete);
            context.Shopping_List.Remove(itemToDelete);
            await context.SaveChangesAsync();
        }

        // Refresh the shopping list
        await LoadShoppingListAsync();
    }
}
